body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #98e4f7;
    margin: 0px;
    padding: 0px;
}

.Cabecalho {
    background-color: #fbc4d0;
    padding: 5px;

}

.Titulo {
    color: #43281c;
    text-align: center;
    font-family: Arial;
}

.Menu {
    ul {
        justify-content: center;
        display: flex;
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
            margin: 10px;

            a {
                text-decoration: none;
                color: #43281c;
                font-weight: bold;
            }
        }

    }
}

.Conteiner {
    max-width: 900px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

    #sobre {
        background-color: #fff1e6   ;
        border-radius: 20px;
    }

    #sabores {
        background-color:  #fff1e6;
        border-radius: 20px;

        .Grid{
            display: flex;
            justify-content: center;


            .card{
                background-color: #ffebf0;
                color: #43281c;
                border: 2px solid #fbc4d0;
                border-radius: 25px;
                margin: 10px;
                padding: 25px 15px;
            }
        }
    }

    #contato{
        background-color:  #fff1e6;
        border-radius: 25px;

        .Formulario{
        max-width: 350px;
        margin: 20px auto;

        form{
            display: flex;
            flex-direction: column;

            input, label,button {
                margin-top: 10px;
            }
        }
    }
    }

    
}




footer {
    text-align: center;
    background-color: #fbc4d0;;
    color: #43281c;
    padding: 15px;
    margin-top: auto;


}