body{
    margin:0px;
    padding: 0px;
    background-color: bisque;
}

header{
    padding: 0px;

    h1{
        text-align: center;
        background-color: cadetblue;
    }
    
    p{
        text-align: center;
        font-size: larger;
        margin: 50px;
    }
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

    #imgClima{
        border-radius: 15px;
        margin: 900px;
        padding: auto;
    }


}